.img-nav{
    margin: 0;
    padding: 0;
    width: 9em;
}

.img-carousel{
    height: 80vh;
    width: fit-content;
}

@media only screen and (max-width: 600px) {
    .img-nav{
        width: 4em;
    }

    .img-carousel{
        height: auto;
        width: fit-content;
    }
    
}

.btn-blue{
    background-color: #C4C4C4;
    color: white;
}

.text-justify{
    text-align: justify;
}

.social{
    margin: 15px;
    padding: 0;
    border-radius: 50%;
}


/*FOOTER CONTENT*/
footer div div{
    font-size: small;
}

footer div div ul{
    list-style-type: none;
    justify-content: start;
    text-align: start;
}

footer div div ul li a{
    text-decoration: none;
    color: #545454;
}

footer div div ul li a:hover{
    text-decoration: none;
    color: #000000;
}

.large{
    width: 25em;
    margin: 0 0 0 0;
}

@media only screen and (min-width: 1500px){
    .large{        
        margin-right: 12em;
    }

}

.nav-btn{
    background: linear-gradient(270deg, rgba(25, 135, 252, 0.727), rgba(14, 130, 255, 0.809));
   transition: 1s;
}

.nav-btn:hover{
    background: linear-gradient(90deg, rgba(108, 179, 255, 0.809), rgba(14, 130, 255, 0.809));
}

/*CARD CONTENT*/

.card{
    overflow: hidden;
}

.card .img-fx{
    transition: .5s;
    transform: scale(1);
    filter:brightness(1)
}

.card .img-fx:hover{
    transform: scale(1.1);
    filter:brightness(1.2);
}